services:
  nildb:
    build:
      context: ..
      dockerfile: packages/api/Dockerfile
    ports:
      - "40080:8080"
      - "40091:9091"
    depends_on:
      - mongodb
      - otel-collector
    environment:
      - APP_DB_NAME_BASE=nildb
      - APP_DB_URI=mongodb://mongodb:27017
      - APP_ENABLED_FEATURES=openapi,otel,migrations
      - APP_LOG_LEVEL=debug
      - APP_METRICS_PORT=9091
      - APP_NILAUTH_INSTANCES=http://nilauth:8080/03520e70bd97a5fa6d70c614d50ee47bf445ae0b0941a1d61ddd5afa022b97ab14
      - APP_NILAUTH_CHAIN_ID=31337
      - APP_NODE_PUBLIC_ENDPOINT=http://localhost:40080
      - APP_NODE_SECRET_KEY=6cab2d10ac21886404eca7cbd40f1777071a243177eae464042885b391412b4e
      - APP_PORT=8080
      - OTEL_ENDPOINT=http://otel-collector:4318
      - OTEL_SERVICE_NAME=nildb
      - OTEL_TEAM_NAME=nildb
      - OTEL_DEPLOYMENT_ENV=local
      - OTEL_METRICS_EXPORT_INTERVAL_MS=10000

  mongodb:
    image: mongo:latest
    ports:
      - "40017:27017"

  postgres:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "40432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  nil-anvil:
    image: ghcr.io/nillionnetwork/nil-anvil:main
    ports:
      - "40545:8545"
    healthcheck:
      test: ["CMD", "cast", "chain-id", "--rpc-url", "http://localhost:8545"]
      interval: 5s
      timeout: 5s
      retries: 10

  nilauth:
    image: ghcr.io/nillionnetwork/nilauth:main
    depends_on:
      postgres:
        condition: service_healthy
      nil-anvil:
        condition: service_healthy
    volumes:
      - ./nilauth/config.yaml:/opt/config.yaml
    command: ["--config-file", "/opt/config.yaml"]
    ports:
      - "40921:8080"
      - "40922:9091"

  token-price-api:
    image: caddy:2
    ports:
      - "40923:80"
    command: |
      caddy respond --listen :80 --body '{"nillion":{"usd":1}}' --header "Content-Type: application/json"

  otel-collector:
    image: otel/opentelemetry-collector:latest
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector/config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "40318:4318"
